:root{

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

h1 {
    background-color: #229ee0;
    width: 100%;
    padding-left: 10%;
}

.player {
    font-size: 2rem;
    display: grid;
    width: 30rem;
    grid-template-columns: repeat(2,1fr);

}

.note{
    font-size: 2rem;
}
.board {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3,8rem);
    grid-template-rows: repeat(3,8rem);
    gap: 0.5rem;
}

.cell {
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #d3f37d;
}

